@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

html{
	margin: 2.5rem 2.5rem;
	font-family: 'Roboto';
	font-size: 1.25rem;
	color: #3587A4;
	background-color: #C1DFF0;
}

header{
	text-align: center;
	font-family: 'Bangers';
	color: #2D848A;
	font-size: 2.5rem;
}

.button{
	padding: 10px 25px;
	background-color: #3587A4;
	font-size: 1rem;
	color: white;
	text-align: center;
	cursor: pointer;
}

.converter{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	margin: 25px auto;
}